.header {
    background-color: darkred;
    color: white;
    height: 10em;
}

.card-header {
    background-color: royalblue;
    color: white;
}

.card-body {
    background-color: whitesmoke;
}

.card-title {
    background-color: white;
}